.modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(100, 100, 100, 0.5);
}

.modal-container > .modal-body {
    background-color: white;
}

.modal-container > .modal-overlay {
    height: 100%;
}

.modal-container > .modal-body > .btn {
    margin: 10px 20px 0 0;
}

.btn {
    cursor: pointer;
}
